<header class="bg-secondary-light">
    <div class="header-content">
        <div class="logo">
            <h1 class="display-none">Home | Book Keeper</h1>
            <a href="/"><img alt="Book Keeper logo" src="/img/logo.svg"></a>
        </div>
        <div class="menu ft-primary-dark">
            <ul>
                <li><div class="menu-item bg-secondary-light"><a href="/"><img src="/img/menu/home.svg" alt="home icon"> <h2>Home</h2></a></div></li>
                <li><div class="menu-item bg-secondary-light"><a href="/search"><img src="/img/menu/search.svg" alt="search icon"> <h2>Advanced Search</h2></a></div></li>
                <li><div class="menu-item bg-secondary-light"><a href="/books/add"><img src="/img/menu/add_book.svg" alt="add book icon"> <h2>Add Book</h2></a></div></li>
            </ul>
        </div>
    </div>
</header>